.advantages__title {
  margin-top: 43px;
  margin-bottom: 22px;
}

.advantages__item {
  /* Box Model */
  margin-right: auto;
  margin-bottom: 24px;
  padding-top: 45px;
  padding-left: 43px;
  padding-bottom: 15px;
  width: 275px;

  /* Visualization */
  border-radius: 10px;
  background-color: #fff;
}

.advantages__item:nth-child(4n+4) { margin-right: 0; }

.advantages__text {
  margin-top: 0;
  padding-top: 70px;
  width: 80%;
  line-height: 2;
  color: #333;
  background-repeat: no-repeat;
}