.booking {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.booking__title { margin-bottom: 20px !important; }

.booking__form { width: 573px; }

.booking__input {
  margin-bottom: 26px;
  padding: 25px 188px 26px 20px;
  width: 518px;
  font-size: 15px;
  background-color: #fff;
}

.booking__data:focus {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding-top: 20px !important;
}

.booking__input::-webkit-calendar-picker-indicator { cursor: pointer; }

.booking__btn {
  padding: 28px 30px 26px 29px;
  font-size: 16px;
}

.booking__amount {
  margin-left: 27px;
  font-size: 17px;
  color: #999;
}